turn-control-panel {
  display: inline-block;
  width: 30%;
  float: right;
  margin-top: 10px;

  .button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background-color: #ccc;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100px;
    cursor: pointer;

    &:hover {
      background-color: #a49999;
    }
  }  
}
