<div class='button' data-bind="click: endActionChoice">end turn</div>
<div class='button' data-bind="click: pickCard">pick card</div>
<div class='button' data-bind="click: stayInCity">stay in city</div>
<div class='button' data-bind="click: useCard">use card</div>

<div id="camp-actions-container">
  <div class="camp-actions">
    <!-- ko foreach: campCard().onfinish -->
      <div class="button" data-bind="text: $data.name, attr: { id: $data.id }, click: function() { $root.network.endTurn($data.id); }"></div>
    <!-- /ko -->
    <div class="button">SKIP</div>
  </div>
</div>
