<span data-bind="visible: playerId() === activePlayer()">
  <!-- <div class='button' data-bind="click: endTurn">end turn</div> -->
  <div class='button' data-bind="click: pickCard">pick card</div>
  <div class='button' data-bind="click: stayInCity">stay in camp</div>
  <div class='button' data-bind="click: useCard">use card</div>
</span>
<span data-bind="visible: playerId() !== activePlayer()">Your oponent move</span>
<div class='log'>
  <!-- ko foreach: logs -->
    <span data-bind="text: 'Player ' + playerId + ': ' + userMsg"></span>
  <!-- /ko -->
</div>

<div id="camp-actions-container">
  <div class="camp-actions">
    <!-- ko foreach: campCard().onfinish -->
      <div class="button" data-bind="text: $data.name, attr: { id: $data.id }, click: function() { $root.network.endTurn($data.id); }"></div>
    <!-- /ko -->
    <div class="button" data-bind="click: function() { $root.network.endTurn(-1); }">CLOSE</div>
  </div>
</div>
