card {
  position: relative;
  padding: 7px;
  font-family: 'VT323', monospace;
  width: 144px;
  height: 220px;
  display: inline-block;
  text-align: center;
  background-image: url('@{img-path}/cardbg.png');
  background-size: cover;
  // border-radius: 5px;

  .image {
    width: 80px;
    height: 80px;
    background-image: url('@{img-path}/img.png');
    background-size: cover;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .name {
    margin-bottom: 3px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .action {
    font-size: 10px;
    margin-bottom: 15px;
    padding: 2px;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    width: 82%;
    padding: 5px;
  }

  .attack-value {
    float: left;

    .icon {
      width: 10px;
      height: 10px;
      background-size: cover;
      background-image: url('@{img-path}/attack-icon.png');
      display: inline-block;
    }
  }

  .defense-value {
    float: right;
    position: relative;

    .icon {
      width: 10px;
      height: 10px;
      background-size: cover;
      background-image: url('@{img-path}/shield-icon.png');
      display: inline-block;
    }
  }

  .card-health-value {
    float: right;
    position: relative;

    .icon {
      width: 10px;
      height: 10px;
      background-size: cover;
      background-image: url('@{img-path}/health.png');
      display: inline-block;
    }
  }

  .card-attack-value {
    float: left;

    .icon {
      width: 10px;
      height: 10px;
      background-size: cover;
      background-image: url('@{img-path}/mon-attack.png');
      display: inline-block;
    }
  }
}
