<span class="temp attack-value">
  <span class="icon"></span>
  <span>5</span>
</span>
<span class="temp defense-value">
  <span>5</span>
  <span class="icon"></span>
</span>

<div class="image">
</div>

<div class="name">ARTEM SKURWESYN</div>

<div class="action">Kll yourself when picking this card</div>

<span class="attack-value">
  <span class="icon"></span>
  <span>5</span>
</span>
<span class="victory-points">
  <span class="icon"></span>
  <span>5</span>
</span>
<span class="defense-value">
  <span class="icon"></span>
  <span>5</span>
</span>
