stats-panel {
  display: inline-block;
  width: 70%;
  height: 70px;
  box-sizing: border-box;
  border-bottom: solid 1px #000;
  float: left;

  .param {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #ccc;
    box-sizing: border-box;
    padding: 10px;
    line-height: 30px;
    text-align: center;

    span {
      display: inline-block;

      &:nth-child(2) {
        font-size: 13px;
      }
    }
  }
}
