<div class="param">
  <span data-bind="text: cash"></span>
  <span>$</span>
</div>
<div class="param">
  <span data-bind="text: wounds"></span>
  <span>wounds</span>
</div>
<div class="param">
  <span data-bind="text: attack"></span>
  <span>attack</span>
</div>
<div class="param">
  <span data-bind="text: defense"></span>
  <span>defense</span>
</div>
<div class="param cards-counter">
  <span data-bind="text: cardsLeft"></span>
  <span>cards left</span>
</div>

<div id='score-container'>
  <div class='score-board'>
    <h3>Score: </h3>
  </div>
</div>
