lobby-page {
  text-align: center;

  .logo {
    margin: auto;
    display: block;
    padding: 20px;
  }

  .room {
    border: 2px black dashed;
    margin: 10px;
    display: block;
    margin: 10px auto 10px auto;
    width: 150px;
    padding: 10px;

    .name {
      text-transform: uppercase;
    }

    &.started  {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
