<div class="stack">
  <!-- ko foreach: items -->
    <card data-bind="style: { 'margin-top': ($index() * 30) + 'px', 'z-index': -$index()} " params="card: $data"></card>
  <!-- /ko -->
</div>
<div class="stack">
  <!-- ko foreach: skills -->
    <card data-bind="style: { 'margin-top': ($index() * 30) + 'px', 'z-index': -$index()} " params="card: $data"></card>
  <!-- /ko -->
</div>
<div class="stack">
  <!-- ko foreach: monsters -->
    <card data-bind="style: { 'margin-top': ($index() * 30) + 'px', 'z-index': -$index()} " params="card: $data"></card>
  <!-- /ko -->
</div>
<div class="stack">
  <!-- ko foreach: deity -->
    <card data-bind="style: { 'margin-top': ($index() * 30) + 'px', 'z-index': -$index()} " params="card: $data"></card>
  <!-- /ko -->
</div>
