cards-stacks {
  display: inline-block;
  width: 70%;
  min-height: 200px;
  box-sizing: border-box;
  float: left;

  .stack {
    display: inline-block;
    width: 150px;
    margin-left: 20px;

    card {
      display: block;
      position: absolute;
      border-bottom: solid 2px #000;
    }
  }
}
